@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');



* {
	font-family: "Poppins", sans-serif;
}

p{
	color: hsl(229, 6%, 66%);
	margin-top: 0px;
}

.container{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.sup{
	align-self: center;
	border-top: 3px hsl(180, 62%, 55%) solid;
	
}

.middle{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-self: center;
}

.team{
	border-top: 3px hsl(0, 78%, 62%) solid;
}

.karma{
	border-top: 3px hsl(34, 97%, 64%) solid;
}

.calc{
	align-self: center;
	border-top: 3px hsl(212, 86%, 64%) solid;
}

.intro {
	text-align: center;
	margin-top: 10px;
}
.reliable {
	font-weight: 200;
}

.tech{
	font-weight: 700;
}

.intro p {
	color: hsl(229, 6%, 66%);
}

.item {
	display: inline-block;
	width: 300px;
	padding:0px 20px 20px 20px;
	/*border: gray 1px solid;*/
	border-radius: 6px;
	margin-bottom: 10px;
	box-shadow: 3px 3px 10px 0px gray;

}

h3{
	margin-top: 0px;
}

h4 {
	margin-bottom: 0px;
}

.attribution {
	text-align: center;
	font-size: small;
}

a {
	text-decoration: none;
}


.image{
    float: right;
}

